/* GENERAL */
body {
    
    margin: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: rgb(252, 246, 246);
    text-shadow: 3px 3px 3px rgb(218, 47, 152);
}

a {
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    color: rgb(218, 47, 152);
    font-size: 35px;

}
/* CLASS TAGS */


/* ID TAGS */
#quest-list {
    display: flex;
    flex-direction: column;
    font-size: 25px;
   

}

#map-pic {
    width: 1000px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}